.card.large {
    min-height: 150px;
    justify-content: center;
}

@media (min-width: 768px) {
    .card.large {
        grid-column: span 2;
    }
}

.card.large .card-title {
    font-size: 2rem;
    margin-bottom: 1rem;
}

@media (min-width: 768px) {
    .card.large .card-title {
        font-size: 3rem;
    }
}