.board-card {
    transition: transform 0.1s ease;
}

.board-card:hover {
    transform: translate(-4px, -4px);
    box-shadow: 4px 4px 0px var(--color-fg);
}

.board-card .card-title {
    font-size: 1.8rem;
    margin: 1rem 0;
}

.board-card.broken {
    background-color: var(--color-error);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 150px;
}

.board-card.broken .broken-title {
    font-weight: bold;
}

.board-card.broken .broken-subtitle {
    font-size: 0.8rem;
    margin-top: 0.5rem;
}