.company-card {
    transition: transform 0.1s;
}

.company-card:hover {
    transform: translate(-4px, -4px);
    box-shadow: 4px 4px 0px var(--color-fg);
}

/* Specific size for company card title */
.company-card .card-title {
    font-size: 1.8rem;
}