footer {
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
}

@media (min-width: 768px) {
    footer {
        grid-template-columns: 1fr 1fr;
    }
}

.footer-item {
    border: var(--border-full);
    padding: 0.8rem 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright {
    font-family: 'Space Mono', monospace;
    font-size: 0.7rem;
    font-weight: 700;
}