#root {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  padding: 2rem 0;
  text-align: left;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}